# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and dependencies
venv/
env/
*.log

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
